<!-- about.html -->

{% extends 'base.html' %}

{% block content %}
<p>Huffman addressed several of the announced changes to the API service in an Ask Me Anything (AMA). Concerning the changes for third-party apps, he said Reddit could "no longer subsidize commercial entities that require large-scale data use." He went on to say that Reddit would work to make its mobile app more accessible.[24] Although Huffman claimed Reddit was actively in communication with many third-party application developers to aid in their continued operation, some developers commented that Reddit had not responded to them in months.[25]

    Tim Rathschmidt, a spokesperson for Reddit, told The New York Times that Reddit was in contact with communities to "clarify any confusion around our Data API Terms, platform-wide policies, community support resources, and timing for new moderator tools." He added that Reddit "needs to be fairly paid to continue supporting high-usage third-party apps", noting that the new API pricing "is based on usage levels that we measure to be comparable to our own costs".[26] Rathschmidt also stated that Reddit's hosting costs were in the multi-millions.[27] </p>
{% endblock %}