<!-- home.html -->

{% extends 'base.html' %}

{% block content %}
    <p>In April 2023, the discussion and news aggregation website Reddit announced its intentions to charge for its application programming interface (API), a feature which had been free since 2008, causing a dispute. The move forced multiple third-party applications to shut down and threatened accessibility applications and moderation tools.

        On May 31, Apollo developer Christian Selig stated that Reddit's pricing would force him to cease development on the app. The resulting outcry from the Reddit community ultimately led to a planned protest from June 12 to 14 in which moderators for the site would make their communities private or restricted posting. Following the release of an internal memo from Reddit CEO Steve Huffman and defiance from Reddit, some moderators continued their protest.[2]
        
        Alternate forms of protest emerged in the days following the initial blackout. Upon reopening, users of r/pics, r/gifs, and r/aww voted to exclusively post about comedian John Oliver. Multiple subreddits labeled themselves as not safe for work (NSFW), affecting advertisements and resulting in administrators removing the entire moderation team of some subreddits. A Reddit spokesperson said the removals were due to a violation of Reddit's Content Policy[3] and Moderator Code of Conduct,[4] which prohibits moderators from incorrectly marking a community as NSFW. Some moderation teams were eventually reinstated while some others were not.[5] The protest has been compared to a strike. The third iteration of r/place was covered with various messages attacking Huffman, including the final result. </p>
{% endblock %}
